body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
body, h1, h2, h3, h4, h5, p, div, blockquote, form, input, pre, ul, ol, li, fieldset, img, abbr {
    margin: 0;
    padding: 0;
}
body{
	margin:0;
	padding:0;
	line-height:0;
	background: #fbfbfb;
/*	-webkit-transform:translate3d(0,0,0);
	-webkit-perspective: 1000;
	-webkit-backface-visibilty: hidden;
*/
}

.toolbar_dummy{
	width: 100%;
	height: 60px;
	background: #2f7037;
	position: absolute;
	top: 0;
	border-bottom: 2px  #2f7037;
}
.dark_line{
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	background: #246132;
}
.g960{
	width:960px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 100px;
}

.main{
	width: 940px;
	height: auto;
	margin-left: 10px;
/*	background: #ddd;
*/	position: relative;
}

#navigation_bar{
	width: 720px;
	height: 60px;
	line-height: 60px;
	position: relative;
	top: 0;
	margin-left: 220px;
	/*background: black;*/
}

#sidebar{
	width: 220px;
	height: 500px;
	float: left;
	background: #fbfbfb url("../img/gradient.png") repeat-x;
	position: relative;
}


#sidebarLogin{
	width: 220px;
	height: 220px;
	float: left;
	background: #ffffff;
	position: relative;
}

.login_bar{
	width: 340px;
	height: 500px;
	margin-left: 300px;
	float: left;
	background: #fbfbfb url("../img/gradient.png") repeat-x;
	position: relative;
}

.logo{
	width: 184px;
	height: 159px;
	background: transparent url("../img/logo.jpg") no-repeat;
	display: block;
	margin: 18px 0 0 57px;
}



.logo_login{
	width: 184px;
	height: 159px;
	background: transparent url("../img/logo.png") no-repeat;
	display: block;
	margin: 15px auto;
}


.shadow_left{
	width: 10px;
	height: 300px;
	background: transparent url("../img/shadow_left.png") no-repeat;
	position: absolute;
	left: -10px;
	top: 0;
}

.shadow_right{
	width: 10px;
	height: 300px;
	background: transparent url("../img/shadow_right.png") no-repeat;
	position: absolute;
	right: -10px;
	top: 0;
}

.toolbar_side{
	margin-top: 70px;
}

.sep_sidebar, .sep_sidebar2{
	width: 220px;
}

.sep_sidebar{
	height: 22px;
	background: #FFF;
}
.sep_sidebar2{
	height: 1px;
	background: #E4E5E8;
}

.input_wrapper_text{
	position: relative;
}

.input_wrapper_name{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 32px;
	margin-left: 38px;
	color: #4da767;
	position: absolute;
}



.username_campo, .password_campo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 16px;
	width: 280px;
	height: 30px;
	/*padding: 4px;*/
	margin-bottom: 10px;
	margin-left: 30px;
	text-indent: 70px;
	border:1px solid #ddd;
	color: #313131;
}


.password_campo{
	text-indent: 98px;
}

.login_input{
	float: left;
	width: 280px;
	height: 30px;
	margin-top: 2px;
	margin-left: 30px;
}

.boton_sidebar{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 220px;
	height: 40px;
	line-height: 40px;
	color: #41444D;
	text-indent: 44px;
	text-decoration: none;
	display: block;

}

.transferencia_sidebar{
	background: transparent url("../img/transferencia_tool.png") no-repeat;
}

.inversion_sidebar{
	background: transparent url("../img/inversion_tool.png") no-repeat;
}

.configuracion_sidebar{
	background: transparent url("../img/conf_tool.png") no-repeat;
}




#content{
	width: 700px;
	height: auto;
	margin-top:30px;
	margin-left: 240px;
}


.boton_menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
	/*width: 140px;*/
	height: 60px;
	float: left;
	text-align: left;
	margin-left: 40px;
	color: #FFF;

} 


.icono_texto{
	font-size: 14px;
	display: inline-block;
	text-align: left;
}

.icono_texto:hover{
	color: #dddddd;
}

.mis_cuentas_img{
	width: 25px;
	height: 20px;
	background: transparent url("../img/mis_cuentas.png") no-repeat;
	float: left;
	margin: 20px 8px 0 0;
}

.inversiones_img{
	width: 22px;
	height: 19px;
	background: transparent url("../img/inversiones_menu.png") no-repeat;
	float: left;
	margin: 20px 8px 0 0;
}

.reportes_img{
	width: 13px;
	height: 19px;
	background: transparent url("../img/reportes_menu.png") no-repeat;
	float: left;
	margin: 20px 8px 0 0;
}




.boton_cerrar_sesion{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration: none;

	width: auto;
	height: 40px;
	line-height: 40px;
	display: block;
	position: absolute;
	right: 0;
	margin-top: 10px;
	background: transparent url("../img/close.png") no-repeat;
	background-position: 0 12px;
	text-indent: 20px;
}

.boton_cerrar_sesion:hover{
	color: #dddddd;
}


#feature{
	width: 698px;
	height: 348px;
	/*border: 2px solid #e7e8e7;*/
	border: 1px solid #CBCED3;
	position: relative;
}


#grafica_feature{
	width: 432px;
	height: 348px;
	background: #FFF;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #CBCED3;
}

#grafica_raphael{
	width: 402px;
	height: 242px;
	position: relative;
	margin: 20px 0 0 15px;
}

#mes_grafica{
	width: 432px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	margin-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #41444D;
}

#saldo_feature{
	width: 265px;
	height: 134px;
	position: absolute;
	top: 0;
	right: 0;
	background: #F9FBF7;
	border-bottom: 1px solid #CBCED3;
}

.saldo_actual{
	width: 265px;
	height: 60px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 60px;
	margin-top: 15px;
	color: #4EB246;
}

#inversiones_feature{
	width: 265px;
	height: 213px;
	background: #FFF;
	position: absolute;
	bottom: 0;
	right: 0;
}

.lista_azul_feature{
	width: 265px;
	height: 175px;
	line-height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: #f2fcff;
	margin-top: 12px;
	overflow: scroll;
	overflow-x: hidden;
}

.lista_azul_feature li{
	width: 265px;
	height: 25px;
	position: relative;
}

.lista_feature{
	left: 10px;
	position: absolute;
}

.lista_feature_tiempo{
	right: 20px;
	font-weight: bold;
	position: absolute;
}


.lista_feature_non{
	background: #FFF;
}


.titulo_verde_feature{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	text-shadow: 0 1px 0 #fff;
	color: #41444D;
	margin: 10px 0 0 10px;
}

.inversiones_tiempo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	color: #7C7E84;
	text-align: right;
	float: right;
	margin-right: 20px;
}

.titulo_verde{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	color: #41444D;
	margin-top: 30px;

}


.separador_contenido{
	width: 700px;
	height: 3px;
	background: #FFF;
	margin: 30px 0;
	position: relative;
}

.separador_contenido_m{
	width: 700px;
	height: 3px;
	background: #FFF;
	margin: 8px 0 20px 0;
	position: relative;
}

.separador_contenido2{
	width: 700px;
	height: 1px;
	background: #E4E5E8;
	margin-top: 1px;
	position: absolute;
}

.separador_contenido2_m{
	width: 700px;
	height: 1px;
	background: #d1d2d4;
	margin-top: 1px;
	position: absolute;
}


.info_separador, .info_separador_grande{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background: #f5f5f5;
	width: 698px;
	margin-top: 15px;
	position: relative;
	border: 1px solid #CBCED3;
}
.info_separador{
	height: 30px;
	line-height: 30px;
}

.info_separador_grande{
	height: 45px;
	line-height: 45px;
}

.info_separador_cargo,.info_separador_fecha,.info_separador_concepto, .info_separador_saldo, .info_separador_abono, .info_separador_grande_titulos{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background: #f5f5f5;
	text-shadow: 0 1px 0 #fff;
	position: absolute;
}

.isg_proto{
	text-align: center;
	width: 108px;
	height: 45px;
	border-left: 1px solid #CBCED3;
}
.isg_cuentas, .isg_numero{
	left: 10px;
}

.isg_numero{
	width: 78px;
	text-align: left;
}

.isg_producto{
	left: 88px;
	width: 166px;
	border-left: 1px solid #CBCED3;
	text-align: left;
	padding-left: 10px;
}

.isg_saldo_actual{
	left: 157px;
	line-height: 16px;
	padding-top: 6px;
	height: 39px;
}

.isg_transito, .isg_capital{
	left: 265px;

}

.isg_picnoracion_garantia, .isg_fecha_apertura{
	left: 373px;
	line-height: 16px;
	padding-top: 6px;
	height: 39px;
}

.isg_picnoracion_cobranza, .isg_fecha_cobranza{
	left: 481px;
	line-height: 16px;
	padding-top: 6px;
	height: 39px;

}

.isg_saldo_disponible{
	left: 589px;
	line-height: 16px;
	padding-top: 6px;
	height: 39px;
}

.isg_fecha_vencimiento{
	left: 589px;
	line-height: 16px;
	padding-top: 6px;
	height: 39px;
}

.lac_cuentas, .lac_saldo_actual, .lac_transito, .lac_pic_garantia, .lac_pic_cobranza, .lac_saldo_disponible, .lac_numero, .lac_producto, .lac_capital, .lac_fecha_apertura, .lac_fecha_renovacion, .lac_fecha_vencimiento{
	position: absolute;
}

.lac_cuentas{
	left: 0px;
	width: 147px;
	padding-left: 10px;
}

.lac_numero{
	left: 0px;
	width: 78px;
	padding-left: 10px;
}

.lac_cuentas a, .lac_producto a{
	color: #2B96C5;
}

.lac_producto{
	padding-left: 10px;
	left: 89px;
	width: 166px;
	text-align: left;
}

.lac_saldo_actual{
	left: 158px;
	width: 97px;
	padding-right: 10px;
	text-align: right;
}

.lac_transito{
	left: 266px;
	width: 97px;
	padding-right: 10px;
	text-align: right;
}

.lac_capital{
	left: 266px;
	width: 97px;
	text-align: right;
}

.lac_pic_garantia{
	left: 374px;
	width: 97px;
	padding-right: 10px;
	text-align: right;
}

.lac_fecha_apertura{
	left: 374px;
	width: 107px;
	text-align: center;
}

.lac_pic_cobranza{
	left: 482px;
	width: 97px;
	padding-right: 10px;
	text-align: right;
}

.lac_fecha_renovacion{
	left: 482px;
	width: 107px;
	text-align: center;
}

.lac_saldo_disponible{
	left: 590px;
	width: 98px;
	padding-right: 10px;
	text-align: right;
}

.lac_fecha_vencimiento{
	left: 590px;
	width: 108px;
	text-align: center;
}

.separador_lista_azul{
	width: 1px;
	height: 100%;
	background: #E7EBF0;
	position: absolute;
	z-index: 9;
}

.sla_1{
	left: 157px;
}

.sla_1_1{
	left: 88px;
}

.sla_2{
	left: 265px;
}

.sla_3{
	left: 373px;
}

.sla_4{
	left: 481px;
}

.sla_5{
	left: 589px;
}

.saldo_actual_verde{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	width: 100%;
	height: 30px;
	background: #f9fbf7;
	border: 1px solid #CBCED3;
	border-top: none;
	text-align: right;
	padding-right: 10px;
	color: #52B14C;

}


.info_separador_fecha{
	left: 10px;
}

.info_separador_concepto{
	left: 140px;
}

.info_separador_cargo{
	left: 330px;
}

.info_separador_abono{
	left: 459px;
}

.info_separador_saldo{
	left: 588px;
}

.lista_azul{
	width: 698px;
	height: auto;
	line-height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #fff;
	border: 1px solid #CBCED3;
	border-top: 1px solid #E7EBF0;
	position: relative;
}

.lista_azul_cuentas{
	border-bottom: 1px solid #E7EBF0;
}

.non{
	background: #f2fcff;
}

.lista_azul li{
	position: relative;
	width: 100%;
	height: 28px;
}

.lista_azul_fecha, .lista_azul_concepto, .lista_azul_cargo, .lista_azul_abono, .lista_azul_saldo {
	position: absolute;
}



.lista_azul_fecha{
	left: 10px;
	width: 110px;
}

.lista_azul_concepto{
	left: 140px;
	width: 170px;
}

.lista_azul_cargo{
	left: 330px;
	width: 109px;
}


.lista_azul_abono{
	left: 459px;
	width: 109px;
}

.lista_azul_saldo{
	left: 588px;
	width: 110px;
}


.inversion_detalle{
	position: relative;
	margin-top: 15px;
}

.ide_gris{
	width: 100%;
	height: 32px;
	background: #F4F4F4;
}

.saldo_inicial, .saldo_final{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #40444C;
	font-weight: bold;
	line-height: 32px;
	text-shadow: 0 1px 0 #FFF;
}

.saldo_inicial{
	float: left;
	margin-left: 10px;
}

.saldo_final{
	float: right;
	margin-right: 10px;
}

.per_container{
	width: 100%;
	height: 4px;
	background: #D3EBD1;
}

.per_value{
	height: 4px;
	background: #4EB246;
}

.ide_valores{
	width: 700px;
	height: 55px;
	position: relative;
	margin-top: 10px;
}

.ide_valores_center{
	display: table;
	width: auto;
	height: 55px;
	margin: 0 auto;
}


.ide_valores_center p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #444;
}


.ide_valores_titulo{
	float: left;
	text-align: right;
}

.ide_valores_cantidad{
	float: left;
}

.ide_valores_titulo p{
	float: right;
	clear: right;
	padding-left: 10px;
	background: #fbfbfb;
}

.ide_valores_cantidad p{
	float: left;
	clear: left;
	padding-right: 10px;
	padding-left: 4px;
	background: #fbfbfb;
}

.ide_fecha_inicio, .ide_fecha_fin{
	position: absolute;
	top: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #444;
}

.ide_fecha_inicio{
	left: 0px;
	padding: 0 10px;
	background: #fbfbfb;
}

.ide_fecha_fin{
	right: 0;
	padding: 0 10px;
	background: #fbfbfb;
}

.linea_inversion_detalle{
	width: 700px;
	height: 1px;
	position: absolute;
	top: 8px;
	z-index: -1;
	background: #eee;
}

.transferencia_wrapper{
	position: relative;
	width: 700px;
	height: 20px;
}

.tf_mb5{
	margin-bottom: 5px;
}
.tf_mb20{
	margin-bottom: 20px;
}

.texto_formulario{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #454545;
}

.tf_col1{
	position: absolute;
	margin-left: 0;
	top: 0;
}
.tf_col2{
	position: absolute;
	margin-left: 360px;
	top: 0;
}

.tf_col11{
	position: absolute;
	margin-left: 0px;
	top: 0;
}

.tf_col12{
	position: absolute;
	margin-left: 240px;
	top: 0;
}

.tf_col13{
	position: absolute;
	margin-left: 480px;
	top: 0;
}

.select_cuentas{
	display: block;
	width: 340px;
}

.select_bancos{
	display: block;
	width: 220px;
}

.input_transferencia_1col{
	width: 700px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 15px;
}

.input_transferencia_2col{
	width: 340px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 15px;
}

.input_transferencia_3col{
	width: 220px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 15px;
}


.espacio{
	padding-top: 80px;}

.espacioSmall{
	padding-top: 30px;}
	

.tarjeta{
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border-radius: 2px;
	-webkit-box-shadow: 0px 0px 2px #aaa;
  -moz-box-shadow: 0px 0px 2px #aaa;
}

.tarjeta h2{
	margin-top: -10px;
	font-size: 15px;
}

.b100{
	width: 100%;
}

.separador{
	height: 15px;
}

.UsrName{
	font-size: 17px;
	color: #555;
}

.UsrName h1{
	font-size: 23px;
	color: #555;
}


.UsrName h2{
	font-size: 16px;
	color: #333;
}

.HrsAcceso{
	font-size: 15px;
	text-align: right;
	color: #aaa;
}


.table-responsive{
	font-size: 12px;
}


.comboDer{
	text-align: right;
}

.form-horizontal{
	width: 80%;
	margin: 0 auto;
}


.form-group{
	text-decoration: none;
	height: 30px;
	
}



@media (max-width: 767px) {
  .form-group{
	
	height: 50px;
	
}

.control-label{
	padding-bottom: 10px;
}
}


.exito{
	color:#2b6e38;
}


.section-colored.home{
      background: #15a9d9 url(1-1920x1080.jpg) 100% 100% no-repeat;
   }


   .bg {
   	background:  url(1-1920x1080.jpg) no-repeat center center;
  position: fixed;
  width: 100%;
  height: 600px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {

  height: 600px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

  
    
   .section-colored.home h2{
      margin: 0;
     color: #fff;
  
   }
   
  .section-colored.home{
     text-align: center;
   }
 
   }
   
  .section-colored.home h2{
     font-size: 20px;
     margin: 0;
 
     }
   
   .section-colored.home h2 {
       margin-bottom: 30px;
    }


.contenidoA{
	height: 500px;
}


#footer{
	
	height: 100px;
	background-color: #e8e8e8;

}


#footer .container{
	padding-top: 30px;
}


.tm100{
	width: 100%;
}


.espacio22{
	height: 20px;
}


.espacio100{
	height: 100px;
}



.modal-dialog .modal-body p{
	font-size: 15px;
	color: #777;
	text-shadow: 0px 0px #777;
}

.btnNuevo{
	font-size: 13px;
	color: #777;
	text-shadow: 0px 0px #777;

	margin-bottom: -40px;
}

.modal-dialog .modal-header p{
	text-align: center;
	font-size: 19px;
	color: #777;
	margin-bottom: -5px;
	text-shadow: 0px 0px #777;
}


.textAhorro{
	text-align: right;
	text-shadow: 2px 2px 15px #000;
}



.loginBar{
	margin-top: -160px;
	height: 60px;
}

.siderbarLogin{
	height: 10px;
}


.textoLogin{
	margin-top: -250px;
}



@media (max-width: 767px) {
	.textoLogin{
		text-align: center;
	color: #555555;
	margin-top: 70px;
	margin-bottom: 50px;
}

.textoLogin h1{
	font-size: 20px
}
}


.tokenInput{
	font-size: 20px;
}


.bienvenido p{
	font-size: 20px;
}

.textLabel{
	padding-top: 10px;
	color: #666;
	text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}


